header{
    height: 870px;
    background:url(../img/index-img/header.png) no-repeat center;
    .header-info{
        margin-top:295px;
        h2{
            font-size:40px;
        }
        p{
            font-size:24px;
        }
        button{
            font-size: 24px;
            border-radius: 30px;
        }
    }
}
.newpro-area{
    button{
        font-size: 24px;
        border-radius: 30px;
    }
}

.proprice-area{
    .soldout{
        position: relative;
        p{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: #000;
            opacity: .5;
            font-size:24px;
        }
    }
}
